# 使用OpenAI兼容的接口
# api的host地址
API_HOST = https://ai.tju.edu.cn/api/v3
# 你的api-key
API_KEY = tk-xxxxxxxx
# 提示词文件 默认为根目录的prompt.md
PROMPT_FILE = prompt.md
# 如果使用HeartBeat保活 此条生效
HB_INTERVAL = 60

# DEBUG_MODE为true代表调用ai但是不回复在微北洋 用于调试，避免垃圾信息
DEBUG_MODE = false
# 微北洋用户名 您的学号
WPY_USER = 30xxxxxxxx
# 微北洋密码
WPY_PASSWD = xxxxxxxx
# 监听的帖子编号 需要去掉#MP
WPY_POST = 417375
# 监听频率 单位秒
WPY_INTERVAL = 30
# 新监听时获取的回复总数 不用太高
WPY_FETCHNUM = 30
